html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custome Stylesheet */
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    margin: 0 auto;
}
.bg-img {
    background: url("background.jpg");
    background-size: cover;
}
h1 {
    font-size: 35px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 12px;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 13500px;
    margin: 20px;
}
.flex {
    display: flex;
    justify-content: space-between;
    }
.box {
    width: 25%;
    height: 250px;
    
    border-radius: 12px;
    font-weight: 800;
}
.box-1 {
    background: #ed143d;
}
.box-2 {
    background: linear-gradient(to right,rgba(61, 57, 57), rgba(46, 34, 46) 20%, #ed143d);
}
.box-3 {
    background: radial-gradient(#ed143d, rgba(221, 57, 84) 60%, #6e4443);
}
.section-1 {
    margin-top: 20px;
}
p {
    text-align: center;
    margin-top: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    letter-spacing: 5px;
}
.section-2 {
    margin-top: 40px;
}
.box-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("second-image.jpg");
    height: 400px;
    width: 90%;
    border-radius: 15px;
    background-size: cover;
}